body
  margin: 20px
  background-color: #f0f0f0

.tradeview
  width: 100%
  height: 600px
  background-color: white

.node
  fill: deepskyblue
  opacity: .8
  &.active
    fill: pink

.link
  fill: none
  stroke: grey
  stroke-width: 2px
  &:nth-child(3)
    stroke-width: 1px
  &:nth-child(4)
    stroke-width: 2px
  &:nth-child(5)
    stroke-width: 3px
  &:nth-child(6)
    stroke-width: 4px
  &:nth-child(7)
    stroke-width: 5px
  &:nth-child(8)
    stroke-width: 6px
  &:hover
    stroke: red
    cursor: pointer

.marker
  fill: grey
  stroke: none
