// Do not put output generating content here


// Colors

$blue:                                               #0B9EFF
$blue-hover:                                         #4db3ff
$coral:                                              #ff4949
$border-color:                                       #BFCBDA


// Font families

$avenir:             'Avenir', Helvetica, Arial, sans-serif
